* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-image: url(../img/beach_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main.container {
    margin-bottom: 10px;
}

.travelerName {
    position: absolute;
    left: 50%;
    margin-left: -272px;
    top: 50%;
    margin-top: -25px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 7px;
    padding: 5px;
    height: 50px;
    width: 544px;
    font-size: 1.1rem;
}

.btn-light {
    border: 1px solid gray;
}

.form-control {
    display: inline-block;
    width: 20rem;
}

.itinerary {
    margin-top: 8px;
    background-color: rgb(247, 243, 243);
    box-shadow: 4px 4px 10px gray;
    padding: 20px;
    text-align: center;
}

.flag-icon {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.flag-icon:before {
    content: "";
  }

.itinerary > h3 {
    margin-top: 10px;
}

#abbrList {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.country {
    background-color: rgb(244, 244, 244);
    width: 186px;
    margin: 4px;
    padding: 10px;
    box-shadow: 1px 1px 5px gray;
    box-sizing: border-box;
    height: 420px;
}

.active {
    background-color: lightcyan;
}

.tiers {
    width: 100%;
}

.tierBox {
    display: flex;
    flex-wrap: wrap;
}

p > span {
    font-weight: bold;
}

.trip {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 12px;
    box-shadow: 5px 5px 18px gray;
}

.summary {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 12px;
    box-shadow: 5px 5px 18px gray;
    margin-top: 30px;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

#finished {
    margin-top: 10px;
}

.summary>h1, .summary>h3 {
    text-align: center;
}

.summary>h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3.5rem;
}

.toVisit {
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 1px 5px gray;
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.toVisit>.flag-icon {
    background-size: cover;
    width: 45%;
    height: 100%;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    float: left;
}

.toVisit>h2 {
    font-size: 1.8rem;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.toVisit>p {
    font-size: 1.3rem;
    font-family: 'Cambria';
    margin-right: 20px;
}

@media (max-width: 576px) {
    .travelerName {
        margin-left: -220px;
        margin-top: -23px;
        background-color: white;
        padding: 5px;
        height: 46px;
        width: 440px;
        font-size: 0.9rem;
    }
    .form-control {
        width: 15rem;
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 991px) {
    .toVisit {
        height: 260px;
    }

    .toVisit>h2 {
        padding-bottom: 0px;
    }

    .toVisit>.flag-icon {
        margin: 0px;
        margin-right: 15px;
    }

    .toVisit>p {
        font-size: 1.1rem;
        margin: 0px;
        padding: 5px 0px;
    }
    
}

@media (max-width: 767px) {
    .toVisit {
        height: 560px;
    }

    .toVisit>.flag-icon {
        width: 100%;
        height: 300px;
        float: none;
    }

    .toVisit>p {
        font-size: 1.2rem;
        padding-left: 10px;
        padding-bottom: 1px;
        margin: 0px;
    }
}

